src/main/resources/EdExchangeEnvelope_v1.0.7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="urn:org:pesc:core:CoreMain:v1.12.0"
           xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.7.0"
           targetNamespace="urn:xmlns:EdExchange:v1.0.7" xmlns:EdEx="urn:xmlns:EdExchange:v1.0.7" 
           elementFormDefault="unqualified" attributeFormDefault="unqualified" version="v1.0.7">
  <xs:import namespace="urn:org:pesc:core:CoreMain:v1.12.0" schemaLocation="CoreMain_v1.12.0.xsd"/>
  <xs:import namespace="urn:org:pesc:sector:AcademicRecord:v1.7.0" schemaLocation="AcademicRecord_v1.7.0.xsd"/>
  <!--==============================================================================================================================-->
  <!--Name:      EdExchangeEnvelope.xsd                                                                                             -->
  <!--Version:   1.0.7                                                                                                              -->
  <!--Date:      12-Jul-2013                                                                                                        -->
  <!--                                                                                                                              -->
  <!--Change Log:                                                                                                                   -->
  <!--v1.0.0 18-Jan-2013 CDS technical workgroup                                                                                    -->
  <!--v1.0.1 25-Jan-2013 Added annotations and "EDI" to ContentCodeType                                                             -->
  <!--v1.0.2 19-Apr-2013 Following NIEM Naming Conventions & Added Delivery Options                                                 -->
  <!--v1.0.3 23-Apr-2013 Added Delivery Options Request & Delivery Options Report                                                   -->
  <!--v1.0.4 14-Jun-2013 Created DeliveryOption type to reduce redundancy                                                           -->
  <!--v1.0.5 14-Jun-2013 Added Transction History Report & Transction History Request                                               -->
  <!--v1.0.6 28-Jun-2013 Change "Organization Name" to Destination Organization in Delivery Option Request and Delivery Option Type -->
  <!--v1.0.7 12-Jul-2013 Added Organization List Request & Organization List Report                                                 -->
  <!--==============================================================================================================================-->

  <!--=========================================-->
  <!--Content Description                      -->
  <!--=========================================-->
  <xs:simpleType name="ContentDescriptionType">
    <xs:annotation>
      <xs:documentation>
        A short 100 character or less description used to help identify the content of what is being exchanged.

        Examples:
        CollegeTranscript:v1.X
        HighSchoolTranscript:v1.X
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!--===============================================-->
  <!--ContentType Type (type of what's being sent)   -->
  <!--===============================================-->
  <xs:complexType name="ContentTypeType">
    <xs:annotation>
      <xs:documentation>
        ContentType Type (type of what's being sent)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContentCode" type="EdEx:ContentCodeType"/>
      <xs:element name="ContentDescription" type="EdEx:ContentDescriptionType" minOccurs="0"/>
      <xs:element name="ContentFileName" type="EdEx:ContentFileNameType"/>
      <xs:element name="NoteMessageText" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="UserDefinedExtensionsText" type="core:UserDefinedExtensionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!--==============================================================================-->
  <!--ContentCode Type (identifies the differnet types of files that can be sent)   -->
  <!--==============================================================================-->
  <xs:simpleType name="ContentCodeType">
    <xs:annotation>
      <xs:documentation>
        ContentCode Type (identifies the differnet types of files that can be sent).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!-- TBD: to be completed -->
      <xs:enumeration value="PESCXML"/>
      <xs:enumeration value="XML"/>
      <xs:enumeration value="Text"/>
      <xs:enumeration value="PDF"/>
      <xs:enumeration value="Image"/>
      <xs:enumeration value="Binary"/>
      <xs:enumeration value="EDI"/>
      <xs:enumeration value="MutuallyDefined"/>
    </xs:restriction>
  </xs:simpleType>

  <!--=========================================-->
  <!--Content file name (including extention)  -->
  <!--=========================================-->
  <xs:simpleType name="ContentFileNameType">
    <xs:annotation>
      <xs:documentation>
        ContentFileNameType is used to provide the name of the file containg the
        content to be sent/received including the file extension.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!--=========================================-->
  <!--ContentType (actual content being sent)  -->
  <!--=========================================-->
  <xs:complexType name="ContentType">
    <xs:annotation>
      <xs:documentation>
        ContentType is used to create a place holder for any content to be sent/received
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="##other" processContents="strict" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!--=========================================-->
  <!-- SpeedCodeType                           -->
  <!--=========================================-->
  <xs:simpleType name="SpeedCodeType">
    <xs:annotation>
      <xs:documentation>
        Speed of data exchanged between two organizations
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Fast"/>
      <xs:enumeration value="Fastest"/>
    </xs:restriction>
  </xs:simpleType>

  <!--=========================================-->
  <!-- RoleCodeType                            -->
  <!--=========================================-->
  <xs:simpleType name="RoleCodeType">
    <xs:annotation>
      <xs:documentation>
        Role of organizations
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sender"/>
      <xs:enumeration value="Receiver"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>

  <!--=========================================-->
  <!-- Transaction History Type                -->
  <!--=========================================-->
  <xs:complexType name="TransactionHistoryType">
    <xs:annotation>
      <xs:documentation>
        Complex Transaction History type allow for multiple Transmissions each with a different ID
        to be sent back to the report requestor 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransmissionID" type="core:DocumentIDType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SourceOrganization" type="AcRec:SourceDestinationType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="DestinationOrganization" type="AcRec:SourceDestinationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TransactionStartDate" type="core:TransmissionDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TransactionEndDate" type="core:TransmissionDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NoteMessageText" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <!--=========================================-->
  <!--Ed Exchange envelop                      -->
  <!--=========================================-->
  <xs:element name="EdExchangeEnvelope">
    <xs:annotation>
      <xs:documentation>
        EdExchangeEnvelope is used to hold the contents or paylod of what is to be sent/received.
        TransmissionDataType contains the Routing and Header Information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>
            TransmissionDataType contains the Routing and Header Information.
            The Schema of the Transmission Data Section originates from the
            Transmission Data Section of the PESC XML Transcript. This exactly mirrors the
            XML Transcript’s Transmission Data Section
          </xs:documentation>
        </xs:annotation>
        <xs:element name="TransmissionData" type="AcRec:TransmissionDataType"/>
        <xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ContentType" type="EdEx:ContentTypeType"/>
        <xs:element name="Content" type="EdEx:ContentType"/>
        <xs:element name="NoteMessageText" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="UserDefinedExtensionsText" type="core:UserDefinedExtensionsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--=========================================-->
  <!-- DeliveryOptions                         -->
  <!--=========================================-->
  <xs:complexType name="DeliveryOptionType">
    <xs:annotation>
      <xs:documentation>
        Type for Delivery Options for those Vendors and Institutions interested in providing a
        service to send a payload (transcripts or other data) from one Institution/Vendor
        to another Institution/Vendor..
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationOrganization" type="AcRec:SourceDestinationType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="WebserviceURL" type="core:URLType"/>
      <xs:element name="ContentCode" type="EdEx:ContentCodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CostAmount" type="core:SmallCurrencyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SpeedCode" type="EdEx:SpeedCodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DeliveryConfirmationFlag" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ErrorHandlingIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="RoleCode" type="EdEx:RoleCodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NoteMessageText" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="UserDefinedExtensionsText" type="core:UserDefinedExtensionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="DeliveryOptions">
    <xs:annotation>
      <xs:documentation>
        Delivery Options for those Vendors and Institutions interested in providing a
        service to send a payload (transcripts or other data) from one Institution/Vendor
        to another Institution/Vendor..
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeliveryOption" type="EdEx:DeliveryOptionType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--=========================================-->
  <!-- DeliveryOptionRequest                   -->
  <!--=========================================-->
  <xs:element name="DeliveryOptionRequest">
    <xs:annotation>
      <xs:documentation>
        Make requests to retrieve the delivery options of selected entities (vendors or institutions)
        that are interested in providing a service to send a payload (transcripts or other data)
        from one Institution/Vendor to another Institution/Vendor.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DestinationOrganization" type="AcRec:SourceDestinationType" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="ContentType" type="EdEx:ContentTypeType"/>
        <xs:element name="NoteMessageText" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="UserDefinedExtensionsText" type="core:UserDefinedExtensionsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--=========================================-->
  <!-- DeliveryOptionReport                    -->
  <!--=========================================-->
  <xs:element name="DeliveryOptionReport">
    <xs:annotation>
      <xs:documentation>
        Retrieve the delivery options of selected entities (vendors or institutions)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeliveryOption" type="EdEx:DeliveryOptionType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!--=========================================-->
  <!-- TransactionHistoryRequest               -->
  <!--=========================================-->
  <xs:element name="TransactionHistoryRequest">
    <xs:annotation>
      <xs:documentation>
        Make requests to retrieve the transction history record(s) of a specific entity (vendor or institution)
        for specified Transmission ID(s) and or date range.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionHistory" type="EdEx:TransactionHistoryType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!--=========================================-->
  <!-- TransactionHistoryReport                -->
  <!--=========================================-->
  <xs:element name="TransactionHistoryReport">
    <xs:annotation>
      <xs:documentation>
        Retrieve the transction history record(s) for a specific entity (vendor or institution) for a specified date range
        and or for specified Transmission ID(s)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionHistory" type="EdEx:TransactionHistoryType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!--=========================================-->
  <!-- Organization List Request               -->
  <!--=========================================-->
  <xs:element name="OrganizationListRequest">
    <xs:annotation>
      <xs:documentation>
        Make requests to retrieve a list of organizations based on specific selection criteria. 
        Either provide a search string or provide infomation about what organization you are looking for.
        For example if you only know the organization code you can retreive organizations based on the code by
        providing an organization object with the code filled in. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrganizationNameSearchString" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Organization" type="AcRec:SourceDestinationType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!--=========================================-->
  <!-- Organization List Report                -->
  <!--=========================================-->
  <xs:element name="OrganizationListReport">
    <xs:annotation>
      <xs:documentation>
         Report of organizations based on request selection criteria.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Organization" type="AcRec:SourceDestinationType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
  
