directoryServer/src/main/resources/CDS_v0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    name="WebServicesInterfaceService" 
    targetNamespace="http://webservice.cds.pesc.org/"  
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:cds="http://webservice.cds.pesc.org/" 
    xmlns:core="urn:org:pesc:core:CoreMain:v1.12.0"
    xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.7.0"
    xmlns:ColTrn="urn:org:pesc:message:CollegeTranscript:v1.4.0"
    xmlns:HSTrn="urn:org:pesc:message:HighSchoolTranscript:v1.3.0"
    xmlns:edex="urn:org:pesc:EdExchange:v1.0.8"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" 
                      targetNamespace="http://webservice.cds.pesc.org/"
                            xmlns:cds="http://webservice.cds.pesc.org/" 
                             xmlns:xs="http://www.w3.org/2001/XMLSchema"
                              version="1.0">
            <!-- -->
            <xs:import namespace="urn:org:pesc:core:CoreMain:v1.12.0" schemaLocation="xsd/CoreMain_v1.12.0.xsd" />
            <xs:import namespace="urn:org:pesc:sector:AcademicRecord:v1.7.0" schemaLocation="xsd/AcademicRecord_v1.7.0.xsd" />
            <xs:import namespace="urn:org:pesc:EdExchange:v1.0.8" schemaLocation="xsd/EdExchangeEnvelope_v1.0.8.xsd" />
            <xs:import namespace="urn:org:pesc:message:CollegeTranscript:v1.4.0" schemaLocation="xsd/CollegeTranscript_v1.4.0.xsd"/>
            <xs:import namespace="urn:org:pesc:message:HighSchoolTranscript:v1.3.0" schemaLocation="xsd/HighSchoolTranscript_v1.3.0.xsd"/>

            <xs:element name="ServletException" type="xs:string" />
            
            <!--==============================================================-->
            <!-- SOAP service call elements defined in this wsdl schema:      -->
            <!-- TODO move these to the EdExchangeEnvelope_vx.x.x.xsd file    -->
            <!-- sendCDSBatch                                                 -->
            <!-- sendCDSBatchResponse                                         -->
            <!-- getCDSBatch                                                  -->
            <!-- getCDSBatchResponse                                          -->
            <!-- getDeliveryLocation                                          -->
            <!-- getDeliveryLocationResponse                                  -->
            <!-- updateLocalOptions                                           -->
            <!-- updateLocalOptionsResponse                                   -->
            <!-- updateOrganization                                           -->
            <!-- updateOrganizationResponse                                   -->
            <!--==============================================================-->
            <!--
            <xs:complexType name="sendCDSBatch">
                <xs:sequence>
                    <xs:element minOccurs="0" name="psisCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="CDSBatchXML" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="sendCDSBatch" type="cds:sendCDSBatch"/>
            
            
            <xs:complexType name="sendCDSBatchResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sendCDSBatch" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="sendCDSBatchResponse" type="cds:sendCDSBatchResponse"/>
            
            
            <xs:complexType name="getCDSBatch">
                <xs:sequence>
                    <xs:element minOccurs="0" name="psisCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCDSBatch" type="cds:getCDSBatch"/>
            
            
            <xs:complexType name="getCDSBatchResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="getCDSBatch" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCDSBatchResponse" type="cds:getCDSBatchResponse"/>
            
            
            <xs:element name="getDeliveryLocation">
                <xs:complexType></xs:complexType>
            </xs:element>
            <xs:element name="getDeliveryLocationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="deliveryLocation" type="xs:string" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="updateLocalOptions">
                <xs:complexType></xs:complexType>
            </xs:element>
            <xs:element name="updateLocalOptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="localOptions" type="xs:string" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="updateOrganization">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="organization" type="AcRec:OrganizationType" minOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateOrganizationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="updateOrganizationReturnValue" type="xs:string" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            -->
            
        </xs:schema>
    </wsdl:types>
    
    
    <wsdl:message name="ServletException">
        <wsdl:part name="ServletException" element="cds:ServletException"></wsdl:part>
	</wsdl:message>
    
    <wsdl:message name="OrganizationListRequest">
	   <wsdl:part element="edex:OrganizationListRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="OrganizationListReport">
       <wsdl:part element="edex:OrganizationListReport" name="parameters"></wsdl:part>
    </wsdl:message>
    <!-- 
    <wsdl:message name="getCDSBatch">
        <wsdl:part element="cds:getCDSBatch" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendCDSBatchResponse">
        <wsdl:part element="cds:sendCDSBatchResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCDSBatchResponse">
        <wsdl:part element="cds:getCDSBatchResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendCDSBatch">
        <wsdl:part element="cds:sendCDSBatch" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="DeliveryOptionRequest">
       <wsdl:part element="edex:DeliveryOptionRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeliveryOptionReport">
       <wsdl:part element="edex:DeliveryOptionReport" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getDeliveryLocation">
        <wsdl:part element="cds:getDeliveryLocation" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getDeliveryLocationResponse">
        <wsdl:part element="cds:getDeliveryLocationResponse" name="parameters" />
    </wsdl:message>
    
    <wsdl:message name="updateLocalOptions">
        <wsdl:part element="cds:updateLocalOptions" name="parameters" />
    </wsdl:message>
    <wsdl:message name="updateLocalOptionsResponse">
        <wsdl:part element="cds:updateLocalOptionsResponse" name="parameters" />
    </wsdl:message>
    
    <wsdl:message name="updateOrganization">
        <wsdl:part element="cds:updateOrganization" name="parameters" />
    </wsdl:message>
    <wsdl:message name="updateOrganizationResponse">
        <wsdl:part element="cds:updateOrganizationResponse" name="parameters" />
    </wsdl:message>
    
   -->
    
    <wsdl:portType name="WebServicesInterface">
    	
    	<wsdl:operation name="OrganizationListRequest">
	       <wsdl:input name="OrganizationListRequest" message="cds:OrganizationListRequest" />
	       <wsdl:output name="OrganizationListReport" message="cds:OrganizationListReport" />
	       <wsdl:fault name="ServletException" message="cds:ServletException" />
	    </wsdl:operation>
    	
    	<!-- 
        <wsdl:operation name="sendCDSBatch">
            <wsdl:input message="cds:sendCDSBatch" name="sendCDSBatch"></wsdl:input>
            <wsdl:output message="cds:sendCDSBatchResponse" name="sendCDSBatchResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCDSBatch">
            <wsdl:input message="cds:getCDSBatch" name="getCDSBatch"></wsdl:input>
            <wsdl:output message="cds:getCDSBatchResponse" name="getCDSBatchResponse"></wsdl:output>
        </wsdl:operation>
	    
	    <wsdl:operation name="DeliveryOptionRequest">
           <wsdl:input name="DeliveryOptionRequest" message="cds:DeliveryOptionRequest" />
           <wsdl:output name="DeliveryOptionReport" message="cds:DeliveryOptionReport" />
           <wsdl:fault name="ServletException" message="cds:ServletException" />
        </wsdl:operation>
        
        <wsdl:operation name="getDeliveryLocation">
           <wsdl:input name="getDeliveryLocation" message="cds:getDeliveryLocation" />
           <wsdl:output name="getDeliveryLocationResponse" message="cds:getDeliveryLocationResponse" />
           <wsdl:fault name="ServletException" message="cds:ServletException" />
        </wsdl:operation>
        
        <wsdl:operation name="updateLocalOptions">
           <wsdl:input name="updateLocalOptions" message="cds:updateLocalOptions" />
           <wsdl:output name="updateLocalOptionsResponse" message="cds:updateLocalOptionsResponse" />
           <wsdl:fault name="ServletException" message="cds:ServletException" />
        </wsdl:operation>
        
        <wsdl:operation name="updateOrganization">
           <wsdl:input name="updateOrganization" message="cds:updateOrganization" />
           <wsdl:output name="updateOrganizationResponse" message="cds:updateOrganizationResponse" />
           <wsdl:fault name="ServletException" message="cds:ServletException" />
        </wsdl:operation>
	    -->
    </wsdl:portType>
    
    
    <wsdl:binding name="WebServicesInterfaceServiceSoapBinding" type="cds:WebServicesInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="OrganizationListRequest">
	       <soap:operation soapAction="" style="document" />
	       <wsdl:input name="OrganizationListRequest">
	           <soap:body use="literal" />
	       </wsdl:input>
	       <wsdl:output name="OrganizationListReport">
	           <soap:body use="literal" />
	       </wsdl:output>
	       <wsdl:fault name="ServletException">
	           <soap:fault use="literal" name="ServletException" />
	       </wsdl:fault>
	    </wsdl:operation>
        
        <!-- 
        <wsdl:operation name="sendCDSBatch">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendCDSBatch">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendCDSBatchResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getCDSBatch">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCDSBatch">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCDSBatchResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	    
	    <wsdl:operation name="DeliveryOptionRequest">
           <soap:operation soapAction="" style="document" />
           <wsdl:input name="DeliveryOptionRequest">
               <soap:body use="literal" />
           </wsdl:input>
           <wsdl:output name="DeliveryOptionReport">
               <soap:body use="literal" />
           </wsdl:output>
           <wsdl:fault name="ServletException">
               <soap:fault use="literal" name="ServletException" />
           </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getDeliveryLocation">
           <soap:operation soapAction="" style="document" />
           <wsdl:input name="getDeliveryLocation">
               <soap:body use="literal" />
           </wsdl:input>
           <wsdl:output name="getDeliveryLocationResponse">
               <soap:body use="literal" />
           </wsdl:output>
           <wsdl:fault name="ServletException">
               <soap:fault use="literal" name="ServletException" />
           </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateLocalOptions">
           <soap:operation soapAction="" style="document" />
           <wsdl:input name="updateLocalOptions">
               <soap:body use="literal" />
           </wsdl:input>
           <wsdl:output name="updateLocalOptionsResponse">
               <soap:body use="literal" />
           </wsdl:output>
           <wsdl:fault name="ServletException">
               <soap:fault use="literal" name="ServletException" />
           </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateOrganization">
           <soap:operation soapAction="" style="document" />
           <wsdl:input name="updateOrganization">
               <soap:body use="literal" />
           </wsdl:input>
           <wsdl:output name="updateOrganizationResponse">
               <soap:body use="literal" />
           </wsdl:output>
           <wsdl:fault name="ServletException">
               <soap:fault use="literal" name="ServletException" />
           </wsdl:fault>
        </wsdl:operation>
        -->
    </wsdl:binding>
    
    
    <wsdl:service name="WebServicesInterfaceService">
        <wsdl:port binding="cds:WebServicesInterfaceServiceSoapBinding" name="WebServicesInterfacePort">
            
            <!-- public dev server  
            <soap:address location="http://pesc.cccnext.net/EdExchange/services/soap"/>
            -->
            <!-- for local dev -->
            <soap:address location="http://localhost:8080/EdExchange/services/soap" />
            
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
