doc/Standards/CDS_v0.1.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Joseph Giroux (private) -->
<wsdl:definitions name="WebServicesInterfaceService" targetNamespace="http://service.cds.pesc.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cds="http://service.cds.pesc.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.cds.pesc.org/" version="1.0" xmlns:cds="http://service.cds.pesc.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getCDSBatch" type="cds:getCDSBatch"/>
			<xs:element name="getCDSBatchResponse" type="cds:getCDSBatchResponse"/>
			<xs:element name="sendCDSBatch" type="cds:sendCDSBatch"/>
			<xs:element name="sendCDSBatchResponse" type="cds:sendCDSBatchResponse"/>
			<xs:complexType name="sendCDSBatch">
				<xs:sequence>
					<xs:element minOccurs="0" name="psisCode" type="xs:string"/>
					<xs:element minOccurs="0" name="username" type="xs:string"/>
					<xs:element minOccurs="0" name="password" type="xs:string"/>
					<xs:element minOccurs="0" name="CDSBatchXML" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sendCDSBatchResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="sendCDSBatch" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCDSBatch">
				<xs:sequence>
					<xs:element minOccurs="0" name="psisCode" type="xs:string"/>
					<xs:element minOccurs="0" name="username" type="xs:string"/>
					<xs:element minOccurs="0" name="password" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCDSBatchResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="getCDSBatch" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCDSBatch">
		<wsdl:part element="cds:getCDSBatch" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendCDSBatchResponse">
		<wsdl:part element="cds:sendCDSBatchResponse" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCDSBatchResponse">
		<wsdl:part element="cds:getCDSBatchResponse" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendCDSBatch">
		<wsdl:part element="cds:sendCDSBatch" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WebServicesInterface">
		<wsdl:operation name="sendCDSBatch">
			<wsdl:input message="cds:sendCDSBatch" name="sendCDSBatch">
    </wsdl:input>
			<wsdl:output message="cds:sendCDSBatchResponse" name="sendCDSBatchResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCDSBatch">
			<wsdl:input message="cds:getCDSBatch" name="getCDSBatch">
    </wsdl:input>
			<wsdl:output message="cds:getCDSBatchResponse" name="getCDSBatchResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WebServicesInterfaceServiceSoapBinding" type="cds:WebServicesInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendCDSBatch">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="sendCDSBatch">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendCDSBatchResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCDSBatch">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getCDSBatch">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCDSBatchResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WebServicesInterfaceService">
		<wsdl:port binding="cds:WebServicesInterfaceServiceSoapBinding" name="WebServicesInterfacePort">
			<soap:address location="https://ehubdev.pesc.org:9847/webServices/cds"/>
			<xs:annotation>ADJUST THIS ! ! ! </xs:annotation>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
