doc/Standards/EdExchangeEnvelope_v1.0.1.xml

<?xml version="1.0.1" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:org:pesc:core:CoreMain:v1.10.0" xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.6.0" targetNamespace="urn:org:pesc:sector:EdExchange:v1.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="v1.0.0">
	<xs:import namespace="urn:org:pesc:core:CoreMain:v1.10.0" schemaLocation="CoreMain_v1.10.0.xsd"/>
	<xs:import namespace="urn:org:pesc:sector:AcademicRecord:v1.6.0" schemaLocation="AcademicRecord_v1.6.0.xsd"/>
	<!--============================================================================-->
	<!--Name:      EdExchangeEnvelope.xsd                                           -->
	<!--Version:   1.0.1                                                            -->
	<!--Date:      18-Jan-2013                                                      -->
	<!--                                                                            -->
	<!--Change Log:                                                                 -->
	<!--v1.0.0 18-Jan-2013 CDS technical workgroup                                  -->
	<!--v1.0.1 25-Jan-2013 Added annotations and "EDI" to ContentCodeType           -->
	<!--============================================================================-->
	<!---->

	<!--=========================================-->
	<!--Content Description                      -->
	<!--=========================================-->
	<xs:simpleType name="ContentDescriptionType">
		<xs:annotation>
			<xs:documentation>
				A short description used to help identify the content of what is being exchanged.
				
				Examples:
				CollegeTranscript:v1.X
				HighSchoolTranscript:v1.X
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--===============================================-->
	<!--ContentType Type (type of what's being sent)   -->
	<!--===============================================-->
	<xs:complexType name="ContentTypeType">
		<xs:sequence>
			<xs:element name="ContentCode" type="ContentCodeType"/>
			<xs:element name="ContentDescription" type="ContentDescriptionType" minOccurs="0"/>
			<xs:element name="ContentFileName" type="ContentFileNameType"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--==============================================================================-->
	<!--ContentCode Type (identifies the differnet types of files that can be sent)   -->
	<!--==============================================================================-->
	<xs:simpleType name="ContentCodeType">
		<xs:restriction base="xs:string">
			<!-- TBD: to be completed -->
			<xs:enumeration value="PESCXML"/>
			<xs:enumeration value="XML"/>
			<xs:enumeration value="Text"/>
			<xs:enumeration value="PDF"/>
			<xs:enumeration value="Image"/>
			<xs:enumeration value="Binary"/>
			<xs:enumeration value="EDI"/>
			<xs:enumeration value="MutuallyDefined"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--=========================================-->
	<!--Content file name (including extention)  -->
	<!--=========================================-->
	<xs:simpleType name="ContentFileNameType">
		<xs:annotation>
			<xs:documentation>
				ContentFileNameType is used to provide the name of the file containg the content to be sent/received
				including the file extension.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--=========================================-->
	<!--ContentType (actual content being sent)  -->
	<!--=========================================-->
	<xs:complexType name="ContentType">
		<xs:annotation>
			<xs:documentation>
				ContentType is used to create a place holder for any content to be sent/received
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" processContents="strict" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--=========================================-->
	<!--Ed Exchange envelop                      -->
	<!--=========================================-->
	<xs:element name="EdExchangeEnvelope">
		<xs:annotation>
			<xs:documentation>
				EdExchangeEnvelope is used to hold the contents or paylod of what is to be sent/received.
				TransmissionDataType contains the Routing and Header Information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>	
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						TransmissionDataType contains the Routing and Header Information.
						The Schema of the Transmission Data Section originates from the
						Transmission Data Section of the PESC XML Transcript. This exactly mirrors the
						XML Transcript’s Transmission Data Section
					</xs:documentation>
				</xs:annotation>
				<xs:element name="TransmissionData" type="AcRec:TransmissionDataType"/>
				<xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ContentType" type="ContentTypeType"/>
				<xs:element name="Content" type="ContentType"/>
				<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>